/********************TAG SELECTORS************************/



h1{
    color: red;
    font-size: 200px;
}

img:hover{
    background-color: rgb(226, 21, 245);
}


/********************CLASS SELECTORS***********************/

.bacon{
    background-color: blueviolet;
}
.broccoli{
    background-color: aqua;
}
.circular{
    border-radius: 100%;
}

/********************Id SELECTORS***************************/

#heading{
    color: blue;
}

#hello{
    color: brown;
}
